@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --square-len: min(8vh, 8vw);
}

.board-container {
  width: calc(8 * var(--square-len));
  height: calc(8 * var(--square-len));
}

.board-black {
  background-image: url('../assets/board/black-board.svg');
  background-size: 100%;
}

.board-white {
  background-image: url('../assets/board/white-board.svg');
  background-size: 100%;
}

.square-container {
  width: var(--square-len);
  height: var(--square-len);
}

.piece-container {
  width: var(--square-len);
  height: var(--square-len);

  transition: top 0.5s, left 0.5s;
  -moz-transition: top 0.5s, left 0.5s; 
  -webkit-transition:top 0.5s, left 0.5s; 
  -o-transition: top 0.5s, left 0.5s;
}

.square-target {
  background-image: url('../assets/board/square-target.svg');
  background-size: 100%;
}

.square-attackable {
  background-image: url('../assets/board/square-attackable.svg');
  background-size: 100%;
}

.square-is-from {
  background-color: yellowgreen;
}

.square-is-to {
  background-color: yellowgreen;
}

.square-is-check {
  background-color: red;
}

.square-selected {
  background-color: green;
}

.video-area {
  width: 680px;
  height: 160px;
}

.moves-area {
  height: 680px;
  width: 300px;
  padding: 10px;
}

.moves-box {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  overflow: auto;
}

.moves-box::-webkit-scrollbar {
  display: none;
}

.chat-box {
  height: 680px;
  width: 460px;
  padding: 10px;
}

.chat-messages {
  height: 540px;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

/* .board-root {
  width: 680px;
  height: 680px;
  margin: auto;
  margin-top: 10px;
  margin-right: 0px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px;
} */


.instruction-modal {
  position: absolute;
  width: 640px;
  height: 640px;
  background-color: black;
  opacity: 80%;
  z-index: 3;
  text-align: center;
  color: white;
  font-weight: bold;
  align-items: center;
}

.board {
  
  width: 640px;
  height: 640px;
  border: 1px solid black;
  box-sizing: content-box;
}

.piece {
  position: absolute;
  width: 80px;
  height: 80px;
}

.piece-wp {
  background-image: url('../assets/sprites/wp.png');
  background-size: 100%;
}

.piece-wr {
  background-image: url('../assets/sprites/wr.png');
  background-size: 100%;
}

.piece-wn {
  background-image: url('../assets/sprites/wn.png');
  background-size: 100%;
}

.piece-wb {
  background-image: url('../assets/sprites/wb.png');
  background-size: 100%;
}

.piece-wq {
  background-image: url('../assets/sprites/wq.png');
  background-size: 100%;
}

.piece-wk {
  background-image: url('../assets/sprites/wk.png');
  background-size: 100%;
}

.piece-bp {
  background-image: url('../assets/sprites/bp.png');
  background-size: 100%;
}

.piece-br {
  background-image: url('../assets/sprites/br.png');
  background-size: 100%;
}

.piece-bn {
  background-image: url('../assets/sprites/bn.png');
  background-size: 100%;
}

.piece-bb {
  background-image: url('../assets/sprites/bb.png');
  background-size: 100%;
}

.piece-bq {
  background-image: url('../assets/sprites/bq.png');
  background-size: 100%;
}

.piece-bk {
  background-image: url('../assets/sprites/bk.png');
  background-size: 100%;
}
